@import url("https://fonts.googleapis.com/css2?family=Inter&family=Signika:wght@500&display=swap");
body {
  font-family: "Inter", sans-serif;
}
nav a {
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
}
nav a:hover {
  font-weight: bold;
}
h2,
h3 {
  color: #00a2c6;
}

.profil header {
  text-align: center;
}
footer {
  background-color: #00a2c6;
  padding: 20px;
  color: #fff;
  text-align: center;
  font-weight: bold;
}
