@import url("https://fonts.googleapis.com/css2?family=Signika:wght@500&display=swap");
* {
  font-family: "Signika", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  height: 100vh;
  width: 100%;
}
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.header .contanier {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
}
.header .logo img {
  margin-top: 1rem;
  margin-left: -5rem;
  width: 18rem;
  text-decoration: none;
}
.header .contanier .nav-links {
  display: flex;
  align-items: center;
}
.header .contanier .nav-links a {
  margin-top: 1rem;
  color: #282a35;
  text-decoration: none;
  margin-left: 30px;
  text-transform: uppercase;
  transition: 0.3s;
}
.header .contanier .nav-links a:hover,
.header .contanier .nav-links a.active {
  color: #5d9add;
}
.header a button {
  margin-top: -1rem;
  padding: 5px;
  width: 5rem;
  height: 2rem;
  cursor: pointer;
  color: white;
  border: none;
  background-color: #5d9add;
  border-radius: 5px;
  text-transform: uppercase;
}

#btn-menu {
  display: none;
}

/* ----------------------
  version mobile
------------------------- */
@media (max-width: 1000px) {
  .header .contanier {
    width: 100%;
    padding: 0 20px;
  }

  .header .contanier .nav-links a {
    font-size: 14px;
    margin-left: 20px;
  }
  .header .contanier .nav-links .soc-links {
    margin-left: 30px;
  }
}
@media (max-width: 750px) {
  #btn-menu {
    display: block;
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    right: 20px;
    font-size: 22px;
    color: #5d9add;
    width: 40px;
    height: 35px;
    text-align: center;
    line-height: 33px;
  }
  .header .logo img {
    width: 12rem;
    margin-left: -1.5rem;
  }
  .header .contanier .nav-links {
    position: absolute;
    margin-top: 1rem;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    flex-wrap: wrap;
    padding: 10px;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: 0.3s;
  }
  .header .contanier .nav-links.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .contanier .nav-links a {
    display: block;
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid #d4d4d4a7;
  }
}
