@import url("https://fonts.googleapis.com/css2?family=Signika:wght@500&display=swap");
* {
  font-family: "Signika", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  padding: 20px;
}

.title {
  text-align: right;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-left: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

main {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

article {
  flex-basis: 45%;
  background-color: #f9f9f9;
  padding: 20px;
  margin-bottom: 20px;
}

aside {
  flex-basis: 30%;
  background-color: #f2f2f2;
  padding: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* CSS media query untuk tata letak pada perangkat seluler */
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  .title {
    text-align: left;
  }

  nav ul li {
    display: block;
    margin: 10px 0;
  }
}
